img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
body {
    text-align: center;
}
body {
    text-align: center;
    font-family: "Times New Roman";
    background: black;
    color: yellow;
}
a : hover {
    color: yellow;
}
b : hover {
    color: yellow;
}
c : hover {
    color: yellow;
}
d : hover {
    color: yellow;
}